{% extends "layout.html" %} {% block content %}

<div id="section-about" onload="sampleFunction()">
  <div id="aboutcard" class="card col-md-8">
    <div class="card-header">
      <b>ABOUT</b>
    </div>
    <div class="card-body">
      <p class="title">SehatCo : Smart Food Recommendation System</p>
      <p class="title">ABSTRACT :</p>
      <p class="aboutcontent">
        According to the scientists, COVID-19 is here to stay as they expect the
        virus that causes COVID-19 to become endemic.After the second wave, the
        daily average of COVID-19 cases in India is spiralling down, even though
        there still are isolated outbreaks and a rising positivity rate recorded
        in some states. However, despite this, there's some positive silver
        lining, which is the growing pace of vaccination in the country. While
        we may not be able to bid goodbye to COVID-19 as yet, it might be the
        time the viral outbreak may have reached a state of 'endemicity' in the
        country, given the rather low levels of transmission right now and the
        already largely exposed population in the country. But, with the virus
        very much an active threat, and possibilities of a potentially
        threatening third wave is looking like an imminent threat. In such a
        scenario food or the eating habits of the people need to improve with
        the passage of time.Our application will be able to tell the user
        whether the food he is eating will help him in increasing his immunity
        against the coronavirus. Then, on the basis of the output from our
        system the user will come to know which ingredients he has to look for
        in his recipe to achieve his goal of strengthening his immune system
        against the virus.
      </p>
    </div>
  </div>
</div>

{% endblock %}
